# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
[Ll]ibrary/
[Tt]emp/

# Other files and folders
.vs/
.settings/
Logs/





# Executables
*.swf
*.air
*.ipa
*.apk
*.log
*.vscode
*.vsconfig
*.csproj
*.cd

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
